@charset "UTF-8";

:root {
    --cor0: #ffffff;
    --cor1: #070C73;
    --cor2: #080C59;
    --cor3: #080A40;
    --cor4: #070826;
    --cor5: #0D0D0D;
    --cor6: #000000;
    --cor7: #f5f5f5;
    --cor8: #F2AE72;
}

header {
    background-color: var(--cor1);
}

header h1 {
    text-align: center;
    padding: 30px;
    color: var(--cor8);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.562);
}

header span#menu {
    display: block;
    text-align: center;
    background-color: var(--cor6);
    color: white;
    padding: 10px;
    cursor: pointer;
}

header ul {
    list-style-type: none;
    background-color: var(--cor4);
}

header li {
    border: 2px solid var(--cor6);
    padding: 10px;
    text-align: center;
}

header a {
    text-decoration: none;
    color: white;
}

header li:hover {
    background-color: var(--cor3);
}

header menu#itens {
    display: none;
}

main#home {
    margin-bottom: 5px;
}

article#texto-home {
    width: 85vw;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
    margin-bottom: 10px;
    padding: 15px;
    margin: auto;
    background-color: var(--cor7);
}

article#texto-home p {
    text-align: justify;
    text-indent: 20px;
    padding-bottom: 20px;
    font-size: 1.1em;
    line-height: 1.3em;
}

article#texto-home img {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.445);
    display: block;
    margin: auto;
    width: 300px;
}

article#texto-home p#abaixoDaFoto {
    margin-top: 10px;
    padding-bottom: 0px;
}

footer#home {
    background-color: var(--cor0);
    text-align: center;
    padding: 5px;
    align-items: center;
}

main#sobre article {
    width: 87vw;
    margin: auto;
    padding: 15px;
    background-color: var(--cor7);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
    margin-bottom: 10px;
}

main#sobre p {
    text-align: justify;
    text-indent: 20px;
    padding-bottom: 20px;
    font-size: 1.1em;
    line-height: 1.3em;
}

main#sobre img {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.445);
    display: block;
    margin: auto;
    width: 300px;
}

main#sobre aside {
    background-color: var(--cor2);
    color: var(--cor0);
    padding: 10px;
    width: 280px;
    margin: auto;
    margin-top: 10px;
}

main#sobre span#sobre {
    color: var(--cor2);
    font-weight: bold;
}

footer#sobre {
    background-color: var(--cor0);
    text-align: center;
    padding: 5px;
    align-items: center;
}

main#meus-jogos {
    padding: 15px;
    position: relative;
}

section#texto {
    font-size: 18px;
    width: 75vw;
    margin: auto;
    padding: 15px;
    background-color: var(--cor7);
    border-radius: 10px 10px 10px 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
    margin-bottom: 10px;
}

section#texto p {
    text-align: justify;
}

section#telefone {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 503px;
    width: 250px;
    
    background: url(../img/frame-iphone.png) no-repeat top center;
    background-size: cover;
}

iframe#tela {
    position: relative;
    top: 0px;
    left: 0px;
    width: 250px;
    height: 503px;
}

section#jogos {
    text-align: center;
    width: 350px;
    margin: auto;
}

section#jogos a img {
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    background: black;
    text-align: center;
    border: 3px solid black;
}

section#jogos a img:hover {
    border: 3px solid green;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.600);
    transition: transform .3s, border .2s;
}

footer#meus-jogos {
    background-color: var(--cor0);
    text-align: center;
    padding: 5px;
    align-items: center;
    margin-top: 505px;
}

footer a {
    text-decoration: none;
    color: black;
}

footer a:hover {
    text-decoration: underline;
}

/* PÁGINA MEUS JOGOS */
main#meus-jogos section#jogos-pc, main#meus-jogos section#pc {
    display: none;
}